<head>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<h1>Library Books!</h1>

<div class="row">
  <div class="col-xs-12">
    <div ng-repeat="book in booksCtrl.books | orderBy: booksCtrl.orderBy : reverse=booksCtrl.reverse| filter: searchBook">

      <!-- <div class="col-xs-6">
        <iframe title="YouTube video player" class="youtube-player" type="text/html"
        width="640" height="390" sandbox="allow-same-origin allow-scripts" ng-src="{{book.data.url}}"
        frameborder="0" allowFullScreen></iframe> -->
        <p>{{book}}
        <p> {{book.data.url}}</p>
</div>
</div>
</div>
</div>
