<!-- <h2>{{booksShowCtrl.book.title}}</h2>
<hr> -->

<div class="container col-xs-12">
		<h1>Title: <span ng-hide="editing">{{bookCtrl.book.title}}</span></h1>
	  <input ng-show="editing" ng-model="bookCtrl.book.title" type="text" class="form-control input-md" required>
	  <h2>Author: <span ng-hide="editing"> {{bookCtrl.book.author}}</span></h2>
	  <input ng-show="editing" ng-model="bookCtrl.book.author" type="text" class="form-control input-md" required>
	  <h3>Release Date: <span ng-hide="editing">{{bookCtrl.book.releaseDate}}</span></h3>
	  <input ng-show="editing" ng-model="bookCtrl.book.releaseDate" type="text" class="form-control input-md" required>
		<br>
	  <img class="img-responsive showImage" src="{{bookCtrl.book.image}}">
		<input ng-show="editing" ng-model="bookCtrl.book.image" type="text" class="form-control input-md" required>
		<br>
	  <button class='btn btn-danger btn-lg' ng-hide="editing" ng-click="bookCtrl.deleteBook(bookCtrl.book)">Delete Book!</button>
	  <button class='btn btn-info btn-lg' ng-hide="editing" ng-click="editing = true">Edit Book!</button>
	  <button class='btn btn-success btn-lg' ng-show="editing" ng-click="bookCtrl.editBook(bookCtrl.book); editing = false">Save Book!</button>
	  <button class='btn btn-danger btn-lg' ng-show="editing" ng-click="editing = false; bookCtrl.showBook()" >Cancel Edit!</button>
		<button class='btn btn-success btn-lg' ng-click="bookCtrl.goToIndex();">Go Back!</button>
		<br>
	  <!-- Here, make the HTML for how you want each book to display.
	  Make sure you display an image, the title, and the author.
	  The title should be a link to the specific book view. -->
	<!-- Here, add the display of the book info,
       the buttons for editing or deleting,
       the form and buttons that will show if you
       click edit. Don't forget that all of those
       buttons and forms will need some angular
       functionality!
</div>
